.h1{
   display: flex;
   justify-content: center;
   align-items: center;
}
.button{
  display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: 600;
   gap: 10px;
}
.para{
  font-weight: 400;
}